// Colors variables.
$brand: #58c800;
$white: #f9f9f9;
$text: #323232;
$error: #ff3e3e;

/**
 * Short transition writing.
 * @param $time is for seconds or miliseconds.
 * Example: @include transition(300ms).
 */
@mixin transition($time) {
    transition: all ease-in-out $time
}

// Label.
.cwpmf-label {
    position: relative;
    width: 100%;
    margin-bottom: 32px;

    &:last-of-type {
        margin-bottom: 50px
    }
}

// Inputs and textareas.
.cwpmf-input[type='text'],
.cwpmf-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    font-family: 'PT Sans';
    width: 100%;
    height: 24px;
    line-height: 19px;
    border-radius: 0;
    @include transition(300ms);

    &:focus,
    &:active {
        border-color: $brand;
        color: $brand;

        & ~ .cwpmf-icon {
            color: $brand
        }
    }

    // Placeholders.
    &::placeholder {
        color: #b5b5b5;
        opacity: 1;
        font-family: 'PT Sans'
    }

    &:focus::-webkit-input-placeholder {
        color: transparent
    }

    &:focus:-moz-placeholder {
        color: transparent
    } /* FF 4-18 */

    &:focus::-moz-placeholder {
        color: transparent
    } /* FF 19+ */

    &:focus:-ms-input-placeholder {
        color: transparent
    } /* IE 10+ */
}

// Textarea height.
.cwpmf-textarea {
	height: 60px
}

// If field has error, this class is added.
.cwpmf-field-with-error {
	border-color: $error !important;

    & ~ .cwpmf-icon {
        color: $error !important
    }
}

// Main e-mail form styles.
.cwpmf {
	background-color: transparent;
	margin-top: 30px
}

// Form legend.
.cwpmf-legend {
	font-family: 'Fira Sans';
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px
}

.cwpmf-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: #b5b5b5;
    @include transition(300ms)
}

// Hidden field for error message under inputs and textareas.
.cwpmf-input-error {
    position: absolute;
    bottom: -21px;
    left: 0px;
    font-size: 13px;
    line-height: 17px;
    color: $error
}

.cwpmf-popup {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: -1
}

.cwpmf-popup-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    min-height: 250px;
    margin-top: -125px;
    margin-left: -250px;
    background-color: $white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    padding: 75px 35px 50px;
    text-align: center
}

// Close popup cross button.
.cwpmf-popup__close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    transform: rotate(45deg);
    @include transition(300ms);
    z-index: 1;

    &:hover {
        background-color: $brand;

        .cwpmf-popup__line {
            background-color: $white
        }
    }
}

// Close popup line (horizontal part of the cross).
.cwpmf-popup__line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: $brand;
    @include transition(300ms)
}

// Close popup line (2-nd line, 90 degrees rotate to make cross).
.cwpmf-popup__line_cross {
    transform: rotate(90deg);
    margin-top: -2px
}

// Message block in popup.
.cwpmf-popup-message {
    font-size: 21px;
    font-family: 'Fira Sans'
}

// Button in popup.
.cwpmf-popup-button {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%
}