$brand: #58c800;
$white: #f9f9f9;
$text: #323232;

.cwpmf {
	background-color: transparent
}

.cwpmf-legend {
	font-family: 'Fira Sans';
	color: $white;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px
}